.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#country{
  display: flex;
}

#category{
  color: grey;
  font-weight: bold;
  text-decoration: underline;
}

#value{
  font-weight: bold;
}

button{
  width: 50%;
  color: rgb(43, 43, 43);
  border-radius: 20% 20% 0% 0%;
}